<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Email Marketing Leader</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="wrapper">
            <header>
                <h1>Email Marketing Lead Generator</h1>
                <p>Mit diesem Werkzeug kannst du einfach Email Kampagnen automatisieren, die genau die Zielgruppe in deinem Ort erreicht!</p>

            </header>

            <div class="query">
                <div class="term">
                    <label for="term">Branche</label>
                    <input type="text" name="term" id="term" required>
                </div>
                <div class="location">
                    <label for="location">Ort</label>
                    <input type="text" name="location" id="location" required>
                </div>
                <div class="submit">
                    <button id="sbt">Los geht's</button>
                    <p id="msg"></p>
                </div>
            </div>
            
        </div>
        <script src="./js/app.js" defer></script>
    </body>
</html>