<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Leads</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/leads.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="wrapper">

            <header>
                <h1>Das sind alle Unternehmen, die wir in deiner Stadt gefunden haben: </h1>
            </header>

            <div class="app">
                <div class="controll">
                    <p id="msg"></p>
                    <div class="btns">
                        <button id="export-list">Export</button>
                        <button id="go-back">Go Back</button>
                    </div>
                </div>
                <div class="results" id="results">
                    <div class="name">Name</div>
                    <div class="street">Straße</div>
                    <div class="city">Stadt</div>
                    <div class="phone">Telefon</div>
                </div>
            </div>

            <div class="pageNav">
                <div class="back">
                    <p id="back" class="noselect">&lt;</p>
                </div>
                <div class="forward">
                    <p id="forward" class="noselect">&gt;</p>
                </div>
            </div>
        </div>
        
        <script src="./js/leads.js" async defer></script>
    </body>
</html>